<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" id="/" version="1">

	 
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:app-context-config.xml</param-value>
	</context-param>
	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<servlet>
	   <servlet-name>maint</servlet-name>
	     <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	</servlet>
	

	<servlet-mapping>
		<servlet-name>maint</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
          
</web-app>